<html>
    <head>
        <title>
            Welcome
        </title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div class="header">
            <nav>
                <ul class="sidenav">
                    <li><img src="iiitklogo.jpg" class="logo"></li>
                    <li class="section"><a href="#">Home</a></li>
                    <li class="section"><a href="#">About</a></li>
                    <li class="section"><a href="#">Contact</a></li>
                    <li class="section"><a href="#">Menu</a></li>
                    <li class="section"><a href="#">Research</a></li>
                    <li class="section"><a href="#">Details</a></li>
                    <li class="section"><a href="#">Login</a></li>
                </ul>
            </nav>
            <!-- <nav>
                <ul class="set2">
                    <li><span>&#9884;</span></li>
                    <li><span>&#9884;</span></li>
                    <li><span>&#9884;</span></li>
                    <li><span>&#9884;</span></li>
                </ul>
            </nav>
        </div>
        <div class="sidebar"></div> -->

        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
              <a href="#">&#9884;</a>
              <a href="#">&#9884;</a>
              <a href="#">&#9884;</a>
              <a href="#">&#9884;</a>
            </div>
          </div>
          
          <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
          
          <script>
          function openNav() {
            document.getElementById("myNav").style.width = "15%";
          }
          
          function closeNav() {
            document.getElementById("myNav").style.width = "0%";
          }
          </script>
 
        <div class="d1">
        <div class="responsive">
            
            <div class="gallery">
              <a target="_blank" href="wildbeats.html">
                <img src="wildbeatslogo.jpg" alt="Wildbeats" width="600" height="400">
              </a>
              <div class="desc">WILDBEATS</div>
            </div>
          </div>
          
          
          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="img_forest.jpg">
                <img src="trendleslogo.jpg" alt="Trendles" width="600" height="400">
              </a>
              <div class="desc">TRENDLES</div>
            </div>
          </div>
          </div>
      

              <div class="d2">
                  <div class="responsive">
                      <div class="gallery">
                          <a target="_blank" href="img_lights.jpg">
                              <img src="betalabslogo.jpg" alt="beta labs" width="600" height="400">
                            </a>
                            <div class="desc">BETA LABS</div>
                        </div>
                    </div>
                    
                    <div class="responsive">
                        <div class="gallery">
                            <a target="_blank" href="img_mountains.jpg">
                                <img src="sportslogo.jpg" alt="sports club" width="600" height="400">
                            </a>
                            <div class="desc">SPORTEC</div>
                        </div>
                    </div>
                </div>
            
          
                <div class="clearfix"></div>
        
            </body>
</html>